/*Style header*/
header {
    text-align: center;
    background-color: peachpuff;
    background-position-x: 0%;
    padding: 10px;
    font-size: 20px;
    color: maroon ;
    margin: 0%;
}

/*Body background with camera photo*/
body {
    background-image: url('https://cdn.mos.cms.futurecdn.net/AL4G6RNRUUxo7Ln8v3ZLLK-650-80.jpg.webp');
    background-position: center; 
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 0;
}
h1 {
    margin:0%;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.6em;
    color: blue;
    text-align: center;
    letter-spacing: 5px;
}


h1,h2,h3 {
    font-family: Helvetica, Arial, sans-serif;
}

/*Page Reference Navigaton*/
#navigation {
    text-indent: 10%;
    color:blueviolet;
    font-weight: 400;
    letter-spacing: 5px;
    background-color: blanchedalmond;
}

/* styling Favorite photos */
h3 {
    text-align: center; width: 100%;
    background-color: peachpuff;
    background-position-x: 0%;
    padding: 5px;
    font-size: 20px;
    color: maroon ;
    margin: 0%; 
}

/*Service list model-box*/
.border-box {
    text-align: left; height:100px ; width: 300px;
    background: #fd9;
    margin: 1px; 
    padding: 5px;
    font-size:16px; 
    font-weight: bold;
    border: dashed 1px black;
}

    /* Styling Article-Biography*/
    article {
        background:#fd9;
        padding:20px;
        margin: 2px 0;
        width: 500px;
        border: dashed 1px black;
    
    }
    
    article p {
        margin: 0 0 20px;
        width: 500px;
    
    }
    
    article img {
        height: 150px;
        width: auto;
        float: right;
        margin-right: 10px;
      }
    
    section.post-head small {
        display: block;
        margin: 0 0 20px;
        padding: 0 0 20px;
        border-bottom: solid 1px #eee;
        color: maroon;
    }
    
    section.post-foot {
        font-size: 14px;
        border-top: solid 1px #eee;
        margin: 20px 0 0;
        padding: 20px 0 0;
    }

        /*Footer*/
    footer {
        text-align: center;
        color: maroon;
        font-size: 14px;
    }
    
    /* sidebar */
    .head-sidebar {
        margin: 0x;
        padding: 5px;
        width: 350px;
        background-color: #fd9;
        text-align: center;
        font-weight: bold;
    }
    .body-sidebar {
        margin: 3x;
        padding: 10px;
        width: 330px;
        background-color: aquamarine;
        text-align: justify

    }